{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <h1 class="text-white text-3xl font-bold text-center mb-6">{{ quiz.title }}</h1>
    <form method="post" class="space-y-6">
        {% csrf_token %}




        {% for question in quiz.questions.all %}
            <div class="bg-gray-800 p-6 rounded-lg shadow-md">
                <h2 class="flex justify-center text-white text-xl font-semibold mb-4">{{ question.text }}</h2>
                {% for answer in question.answers.all %}
                    <div class="flex justify-center mb-2">
                        <input type="radio" name="question_{{ question.public_id }}" value="{{ answer.public_id }}"
                               class="mr-2" required>
                        <label class="text-white">{{ answer.text }}</label>
                    </div>
                {% endfor %}
            </div>


        {% empty %}
            <p class="text-white text-center">No questions available.</p>
        {% endfor %}
        <div class="flex justify-center space-x-4">
            <button type="submit" class="bg-white rounded-lg text-white font-bold shadow-sm mr-2 rtl:mr-0 py-2 px-4 rounded dark:bg-gray-800">
                Submit Quiz
            </button>
           <a href="{{ object.get_absolute_url }}" class="bg-white rounded-lg text-white font-bold shadow-sm ml-2 rtl:ml-0 py-2 px-4 rounded dark:bg-gray-800">
                Back to Lesson
            </a>
        </div>
    </form>
</div>
{% endblock content %}